[defaults]
inventory = ./inventory/inventory.ini
roles_path = ./roles
local_tmp = /tmp/.ansible/tmp
remote_tmp = /tmp/.ansible/tmp
retry_files_enabled = False
timeout = 30

[ssh_connection]
pipelining = True
