apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: {{ minio_pvc_name }}
  namespace: {{ minio_namespace }}
spec:
  accessModes:
{{ minio_persistence_access_modes | to_nice_yaml(indent=2) | indent(4, true) }}
  resources:
    requests:
      storage: {{ minio_storage_size }}
{% if (minio_storage_class_name | default('')) | length > 0 %}
  storageClassName: {{ minio_storage_class_name }}
{% endif %}
