services:
  proxy:
    networks:
      - traefik_proxy
      - harbor
    labels:
      - "traefik.enable=true"
      - "traefik.http.routers.harbor.rule=Host(`{{ harbor_domain }}`)"
      - "traefik.http.routers.harbor.entrypoints=websecure"
{% if enable_tls | default(true) | bool %}
      - "traefik.http.routers.harbor.tls.certresolver=myresolver"
{% endif %}
      - "traefik.http.routers.harbor.middlewares=security-headers@file"
      - "traefik.http.services.harbor.loadbalancer.server.port={{ harbor_http_port }}"

networks:
  traefik_proxy:
    external: true
