apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: {{ jenkins_pvc_name }}
  namespace: {{ jenkins_namespace }}
spec:
  accessModes:
{% for mode in jenkins_persistence_access_modes %}
    - {{ mode }}
{% endfor %}
{% if jenkins_storage_class_name | length > 0 %}
  storageClassName: {{ jenkins_storage_class_name }}
{% endif %}
  resources:
    requests:
      storage: {{ jenkins_storage_size }}
