apiVersion: v1
kind: Service
metadata:
  name: {{ jenkins_service_name }}
  namespace: {{ jenkins_namespace }}
spec:
  type: {{ jenkins_service_type }}
  selector:
    app: jenkins
  ports:
    - name: http
      port: {{ jenkins_http_port }}
      targetPort: http
    - name: agent
      port: {{ jenkins_agent_port }}
      targetPort: agent
