apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: {{ postgres_pvc_name }}
  namespace: {{ sonarqube_namespace }}
spec:
  accessModes:
{% for mode in postgres_persistence_access_modes %}
    - {{ mode }}
{% endfor %}
{% if postgres_storage_class_name | length > 0 %}
  storageClassName: {{ postgres_storage_class_name }}
{% endif %}
  resources:
    requests:
      storage: {{ postgres_storage_size }}
