apiVersion: v1
kind: Service
metadata:
  name: {{ postgres_service_name }}
  namespace: {{ sonarqube_namespace }}
spec:
  selector:
    app: {{ postgres_service_name }}
  ports:
    - name: postgres
      port: {{ postgres_port }}
      targetPort: postgres
